body{
    background: url("../img/background.jpg");
    background-size: cover;
}
#loginForm{
    margin-top: 40%;
    border: 1px solid #5DBD37;
    border-radius: 5%;
    background-color: white;
}
#logo{
    border-radius: 5% 5% 0 0;
}
.btn{
    width: 50%;
    margin: 0 0 2% 25%;
    background-color: #5DBD37;
}
.form-control{
    text-align: center;
    margin: 2% 0 2% 25%;
    width: 50%;
}