*{
    font-family: Arial, sans-serif;
}
html, body{
    height: 100%;
    margin: 0;
}
#menu{
    background-color: white;
    border-right: 1px solid #5DBD37;
    height: 100vh;
    padding-right: 0;
}
#menu hr{
    width: 75%;
}
#menu nav{
    margin: 2% 0;
}
#menu ul{
    display: inline;
    margin: 0;

}
#menu nav li{
    list-style-type: none;

}
#menu nav a{

    color: #48ac3a;
    box-sizing: border-box;
    margin: 0 auto 0 5%;
    width: 100%;
    padding: 1%;
    text-decoration: none;
}
#menu hr{
    border-top: 1px solid #48ac3a;
}
.mainElement{
    font-size: 1.3em;
    display: table;
}
#menu nav a:hover{
    text-decoration: none;
}
.subElement::before{
    content: " > ";
}
.subElement{
    font-size: 1em;
    display: none;
}
#menu img{
}

#content{
    height:100%;
}
#top-banner{
    background-color: #5DBD37;
    height: 9vh;
}
#lower-banner{
    height: 9vh;
    padding: 1% 0 0 3%;
    color: #4e4e50;
    font-weight: 500;
    font-size:2em;
    text-transform: uppercase;

}