*{
    font-family: Verdana, sans-serif;
}
html, body{
    height: 100vh;
    margin: 0;
}
#menu{
    background-color: #2D2D2D;
    height: 100vh;
    padding-right: 0;
}
#menu hr{
    width: 75%;
}
#menu nav{
    margin: 2% 0;
}
#menu ul{
    display: inline;
    margin: 0;
}
#menu nav li{
    list-style-type: none;
}
#menu nav a{
    color: white;
    box-sizing: border-box;
    margin: 0 auto 0 5%;
    width: 100%;
    padding: 1%;
    text-decoration: none;
}
#menu hr{
    border-top: 1px solid #4C4C4C;
}
#menu nav a:hover{
    color: #FFDB38;
    text-decoration: none;
}
#content{
    height:100%;
    padding:0;
    margin:0;
}
header{
    background-color: #81B636;
    width: 100%;
    color:#567A22;
    font-size: 1.5em;
    padding: 2vh 3vw;
}
header span{
}

@media (max-width: 768px) {
    header{
        padding-left : 15vw;
    }
}
#mobile-menu{
    position:absolute;
    top: 2%;
    left: 2%;
    z-index: 1;
}
#mobile-menu img{
    border: 1px solid grey;
    background-color: grey;
    border-radius: 50%;
    padding: 2%;
}
