<div id="labase">

    <div class="row">
        <h2 class="col-md-4 col-md-offset-4" style="text-align: center">Ajouter un workspace</h2>
    </div>
    <div class="row">
        <form ng-submit="workspaceCtrl.onAddWorkspace()" class="col-md-8 col-md-offset-2 login-popup">
            <div class="input-group row">
            <span class="input-group-addon">
                <span class="glyphicon 	glyphicon glyphicon-home"></span>
            </span>
                <input type='text' class="form-control" placeholder="Nom du batiment" ng-model="workspaceCtrl.workspaceData.buildingName" required>
                <input type='text' class="form-control" placeholder="Nom de l'espace de travail" ng-model="workspaceCtrl.workspaceData.workspaceName" required>
                <input type='number' class="form-control" placeholder="Nombre de places assises" ng-model="workspaceCtrl.workspaceData.seats" required>
            </div>
            <div class="input-group row">
            <span class="input-group-addon">
                <span class="glyphicon 	glyphicon glyphicon-align-left"></span>
            </span>
                <textarea class="form-control" placeholder="Description" ng-model="workspaceCtrl.workspaceData.description">
            </textarea>
            </div>
            <div class="input-group row">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-map-marker"></span>
            </span>
                <input type='text' class="form-control" placeholder="Rue" ng-model="workspaceCtrl.workspaceData.street" required>
                <input type='text' class="form-control" placeholder="n°" ng-model="workspaceCtrl.workspaceData.number" required>
                <input type='text' class="form-control" placeholder="Ville" ng-model="workspaceCtrl.workspaceData.city" required>
                <input type='text' class="form-control" placeholder="Code postal" ng-model="workspaceCtrl.workspaceData.cityCode" required>
                <input type='text' class="form-control" placeholder="Pays" ng-model="workspaceCtrl.workspaceData.country" required>
            </div>
            <div class="input-group row">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
                <table>
                    <tr>
                        <td><label for="wifi">Wi-fi: </label></td>
                        <td><input id="wifi" name="wifi" type='checkbox' class="form-control" ng-model="workspaceCtrl.workspaceData.hasWifi"></td>
                    </tr>
                    <tr>
                        <td><label for="projector">Projecteur: </label></td>
                        <td>
                            <input id="projector" name="projector" type='checkbox' class="form-control" ng-model="workspaceCtrl.workspaceData.hasProjector">
                        </td>

                    </tr>
                </table>
            </div>
            <div class="input-group row">
                <button type="submit" class="btn btn-success btn-sm form-control">Ajout</button><br>
            </div>

        </form>
    </div>
</div>
<div id="retourEnvoi" style="display: none">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3 style="text-align: center">Formulaire envoyé</h3>
        </div>
    </div>
</div>