<link rel="stylesheet" href="css/login.css">
<div class='col-md-4 col-md-offset-4 slider-content'>
    <h3>Connexion</h3>
    <form ng-submit="authLoginCtrl.onLogin()" class="login-popup" id="login-form">
        <div class="input-group row">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>
            <input type='text' class="form-control" placeholder="E-mail" ng-model="authLoginCtrl.user.username" required>
        </div>
        <div class="input-group row">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
            <input type="password" class="form-control" placeholder="Mot de passe" ng-model="authLoginCtrl.user.password" required>
        </div>
 <!--       <div class="input-group row">
            <input id=stay-logged name="stay-logged" type="checkbox">
            <label for="stay-logged">Rester connecté</label>
        </div>-->
        <div class="input-group row">
            <button type="submit" class="btn btn-success btn-sm form-control">Log in</button><br>
        </div>
        <div class="input-group row">
            <span class="login-form-link"><a href="#">Mot de passe oublié</a></span><br>
            <span class="login-form-link"><a href="">S'inscrire</a></span>
        </div>
    </form>
</div>