<link rel="stylesheet" href="css/login.css">


<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div id="loginForm">
                <form ng-submit="authLoginCtrl.onLogin()">
                    <img id="logo" src="img/logo.jpg" width="100%">
                    <input type="text" class="form-control" placeholder="Identifiant" ng-model="authLoginCtrl.user.username" required>
                    <input type="password" class="form-control" placeholder="Mot de passe" ng-model="authLoginCtrl.user.password" required>
                    <input id=stay-logged name="stay-logged" type="checkbox">
                    <label for="stay-logged">Rester connecté</label><br>
                    <button type="submit" class="btn btn-success btn-sm form-control">Log in</button><br>
                    <div id="links">
                        <span class="loginFormLink"><a href="#">Mot de passe oublié</a></span>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form>
                <a href="user-interface.php"><input type="button" class="btn btn-success btn-sm" id="signUp" value="Sign up"></a>
            </form>
        </div>
    </div>-->
</div>