<div class="row">
    <div class="col-md-4">
        <h1>Login</h1>
        <hr><br>
        <form ng-submit="authLoginCtrl.onLogin()" novalidate>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="enter username" ng-model="authLoginCtrl.user.username" required>
            </div>
            <div class="form-group">
                <label for="passwowrd">Password</label>
                <input type="password" class="form-control" id="passwowrd" placeholder="enter password" ng-model="authLoginCtrl.user.password" required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <div id="test"></div>
        </form>
    </div>
</div>